
/* FOOTER */
    footer {
        background-color: var(--color-neutral);
        padding: var(--padding-md) var(--padding-sm);
    }
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        gap: var(--padding-md);
        align-items: start;
        margin-bottom: var(--padding-md);
    }
    .footer-column h3 {
        font-size: var(--text-h1);
        margin-bottom: var(--padding-sm);
    }
    .footer-column ul {
        list-style: none;
    }
    .footer li {
        font-size: var(--text-body);
        margin-bottom: var(--padding-sm);
    }
    .footer-column a {
        text-decoration: none;
    }
    .footer-column a:hover {
        color: var(--color-primary);
    }
    .footer-brand {
        text-align: right;
    }
    .footer-brand .great-vibes {
        font-size: var(--text-post);
        margin-bottom: -5px;
    }
    .footer-brand .kalnia {
        font-size: var(--text-btn);
    }
    .footer-copy {
        text-align: center;
    }
