
/* FOOTER */
    footer {
        background-color: var(--color-neutral);
        padding: var(--padding-sm);
    }
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        gap: var(--padding-sm);
        align-items: start;
    }
    .footer-column h3 {
        font-size: var(--text-h1);
        margin-bottom: var(--padding-sm);
    }
    .footer-column ul {
        list-style: none;
    }
    .footer li {
        font-size: var(--text-body);
        margin-bottom: var(--padding-sm);
    }
    .footer-column a {
        text-decoration: none;
    }
    .footer-column a:hover {
        color: var(--color-primary);
    }
    .footer-brand {
        text-align: right;
    }
    .footer-brand .great-vibes {
        font-size: var(--text-post);
        margin-bottom: -5px;
    }
    .footer-brand .kalnia {
        font-size: var(--text-btn);
    }
    .footer-copy {
        text-align: center;
}


/* TABLET */
@media (min-width: 768px) {
    footer {
        padding: var(--padding-lg) var(--padding-xl);
    }
    .footer-content {
        gap: var(--padding-lg);
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    footer {
        padding: var(--padding-xl) var(--padding-xxl);
    }
    .footer-content {
        gap: var(--padding-xl);
    }
}
