
/* CSS RESET */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }
    html {
        font-size: 100%;
        scroll-behavior: smooth;
    }
    body {
        min-height: 100vh;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased; /* Improves font rendering on macOS */
    }
    img,
    picture {
        max-width: 100%;
        display: block;
    }
    input,
    button,
    textarea,
    select {
        font: inherit;
}


/* CSS VARIABLES */
:root {
    /* Colors */
    --color-primary:  #816388;  /* Plum purple */
    --color-secondary: #434343;  /* Graphite */
    --color-accent: #9550A6;  /* Strong lilac */
    --color-base: #FFFFFF;  /* White */
    --color-neutral: #F6F2EE;  /* Warm ivory */

    --color-confirm: #57A773;  /* Djungle green */
    --color-pop: #E27396;  /* Petal pink */
    --color-alert: #D02463;  /* Rose pink */
    --color-detail: #D8D1C7;  /* Soft taupe */

    /* Fonts */
    --font-heading: 'Kalnia', serif;
    --font-body: 'Raleway', sans-serif;
    --font-accent: 'Great Vibes', serif;

    /* Font sizes */
    --text-body: 12px; /* Paragraphs/h3 */
    --text-date: 14px;  /* Post date */
    --text-h1: 16px;  /* Subheaders/h2/labels/placeholders */
    --text-h2: 24px;  /* Quotes */
    --text-sign: 32px;  /* Author signature */
    --text-post: 36px;  /* Post header */
    --text-accent: 40px;  /* accents */
    --text-xl: 48px;  /* Page header/brand name */
    --text-hamburger: 64px; /* Categories on hamburger menu */

    /* Spacing */
    --padding-xs: 8px;
    --padding-sm: 16px;
    --padding-md: 24px;
    --padding-lg: 32px;
    --padding-xl: 40px;

    /* UI */
    --radius-circle: 90px;  /* Buttons and form fields */

    --transition-base: 0.3s ease;  /* Opening */
    --transition-fast: 0.2s ease;  /* Closing */
}


/* TYPOGRAPHY */
    h1, 
    h2, 
    h3,
    p,
    a,
    input {
        font-family: var(--font-body);
        font-weight: 400;
    }
    label,
    .kalnia {
        font-family: var(--font-heading);
    }
    .great-vibes {
        font-family: var(--font-accent);
    }
    h1 {
        font-size: var(--text-post);
    }
    h2,
    label,
    input {
        font-size: var(--text-h1);
    }
    h3,
    p {
        font-size: var(--text-body);
        margin-bottom: var(--padding-sm);
    }
    h1,
    h2,
    h3,
    .eyebrow,
    .upper-case {
        text-transform: uppercase;
    }
    .lower-case {
        text-transform: none;
    }
    input {
        color: var(--color-secondary) 70%;
    }
    .time,
    .date {
        font-size: var(--text-date);
    }
    .eyebrow {
        font-family: var(--font-body);
        font-size: var(--text-body);
        font-weight: 500;
        margin-bottom: var(--padding-sm);
    }
    .signature,
    .accent-text {
        font-family: var(--font-accent);
        font-size: var(--text-accent);
    }
    a {
        color: var(--color-secondary);
        text-decoration: none;
        transition: color var(--transition-fast);
    }
    a:hover {
        color: var(--color-primary);
    }
    blockquote {
        margin: var(--padding-sm) 0;
    }
    blockquote p {
        font-family: var(--font-heading);
        font-size: var(--text-h2);
        line-height: 1,3;
    }