
/* HEADER */
    header {
        background-color: var(--color-primary);
        margin-top: var(--padding-lg);
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-sm) var(--padding-md);
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    nav a,
    .btn-menu {
        text-transform: uppercase;
        background: transparent;
        color: var(--color-neutral);  
    }
    nav li a {
        color: var(--color-neutral);
        text-decoration: none;
}

/* PANEL-MENU */
    .menu-panel {
        background-color: var(--color-base);
        padding: var(--padding-lg);
        border: solid 2px var(--color-detail);
        position: fixed;
        top: 0;
        right: 0;
        width: 95%;
        max-width: 594px;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.35s ease;
        z-index: 1000;
    }
    .menu-panel.is-open {
        transform: translateX(0);
    }
    .logo-text {
        font-family: var(--font-heading);
        font-size: var(--text-xl);
        margin: var(--padding-lg) -40px var(--padding-lg) -24px;
        display: flex;
        align-items: flex-start;
    }
    .logo-text h1 {
        line-height: 0.7;
    }
    .text-column {
        font-family: var(--font-body);
        font-size: 10px;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        text-orientation: upright;
        transform: translateY(1px);
    }
    .menu-links {
        list-style: none;
        flex-direction: column;
        margin: var(--padding-xl) -24px;
    }
    .menu-links li,
    .btn-logout {
        margin-bottom: var(--padding-lg)
    }
    .menu-links a {
        color: var(--color-secondary);
        font-family: var(--font-heading);
        font-size: var(--text-hamburger);
        text-transform: none;
        line-height: 0.8;
    }
    .btn-close {
        position: absolute;
        top: var(--padding-sm);
        right: var(--padding-sm);
    }
    .btn-logout {
        display: flex;
        align-items: center;
}

/* OVERLAY */
    .menu-overlay {
        background: rgba(0, 0, 0, 0.35);
        opacity: 0;
        position: fixed;
        inset: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 900;
    }
    .menu-overlay.is-visible {
        opacity: 1;
        pointer-events: auto;
}


/* TABLET */
@media (min-width: 768px) {
    header {
        margin-top: var(--padding-xl);
    }
    nav {
        justify-content: center;
        gap: var(--padding-xl);
        padding: var(--padding-md) var(--padding-xl);
    }
    nav a,
    .btn-menu {
        font-size: var(--text-btn);
    }
    .menu-panel {
        width: 58%;
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    nav {
        gap: var(--padding-xxl);
        padding: var(--padding-lg) var(--padding-xl);
    }
    nav a,
    .btn-menu {
        font-size: var(--text-h2);
    }
    .logo-text {
        margin: var(--padding-lg) -40px var(--padding-lg) -24px;
    }
    .logo-text h1 {
        font-size: var(--text-hamburger);
    }
    .text-column {
        font-size: 14px;
    }
}