
/* REGISTER, LOGIN, CREATE & EDIT PAGE */
    .register-main,
    .login-main,
    .create-main,
    .edit-main {
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: var(--padding-md);
    }
    .border {
        background-color: var(--color-base);
        padding: var(--padding-sm);
        position: relative;
        overflow: visible;
    }
    .btn-close {
        position: absolute;
        top: var(--padding-sm);
        right: var(--padding-sm);
    }
    .register-card,
    .login-card,
    .create-card,
    .edit-card {
        background-color: var(--color-base);
        margin: 0 auto;
        border: solid 2px var(--color-detail);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px var(--padding-md);
        gap: var(--padding-md);
        position: relative;
        overflow: visible;
    }
    .register-card h1,
    .login-card h1,
    .create-card h1,
    .edit-card h1 {
        position: absolute;
        width: max-content;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    }
    .register-form,
    .login-form,
    .create-form,
    .edit-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: var(--padding-md);
    }
    .register-form .great-vibes,
    .login-form .great-vibes,
    .create-form .great-vibes,
    .edit-form .great-vibes {
        font-size: var(--text-btn);
        margin-top: var(--padding-md);
    }
    .register-card .eyebrow,
    .login-card .eyebrow,
    .create-card .eyebrow,
    .edit-card .eyebrow {
        padding-bottom: var(--padding-xl);
    }
    .btn-accent,
    .btn-edit {
        margin-top: var(--padding-md);

}

/* REGISTER & LOGIN-PAGE */

/* CREATE & EDIT PAGE */
    .create-body,
    .create-main,
    .edit-body,
    .edit-main {
    background-color: var(--color-neutral);
}

/* POST INDEX PAGE */
    .blog-post {
        background: var(--color-base);
        padding: var(--padding-md) var(--padding-md);
    }
    .post-header,
    .post-actions {
        background: none;
    }
    .post-header,
    .post-content,
    .post-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-post h1 {
        font-size: var(--text-post);
    }
    .blog-post img {
        padding-top: var(--padding-sm);
        padding-bottom: var(--padding-md);
    }
    .post-not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loader {
        width: 40px;
        height: 40px;
        margin: 40px auto;
        border: 4px solid var(--color-secondary);
        border-top: 4px solid var(--color-accent);
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
    }
    @keyframes spin {
        to { transform: rotate(360deg); }
}


/* TABLET */
@media (min-width: 768px) {
    .register-main,
    .login-main,
    .create-main,
    .edit-main {
        min-height: 100vh;
        padding: var(--padding-lg);
    }
    .border {
        padding: var(--padding-md);
    }
    .register-card,
    .login-card,
    .create-card,
    .edit-card {
        padding: 48px var(--padding-xl);
    }
    .blog-post img {
        padding-top: var(--padding-sm);
        padding-bottom: var(--padding-md);
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    .register-main,
    .login-main,
    .create-main,
    .edit-main {
        min-height: 100vh;
        padding: var(--padding-xl);
    }
    .border {
        padding: var(--padding-lg);
    }
    .register-card,
    .login-card,
    .create-card,
    .edit-card {
        padding: 48px var(--padding-xxl);
    }
    .blog-post img {
        padding-top: var(--padding-sm);
        padding-bottom: var(--padding-md);
    }
}